<p>
  Penny post is a new player in digital communication. It provides the
  advantages of word processing and redrafting, but brings a mandatory 24 hour
  period between the sending and delivery of messages. We believe this lack of
  immediacy is key to long-form, thoughtful correspondence.
</p>

<ol>
  Penny post is meant for users who:
  <li>
    Enjoy writing writing emails to friends but feel the modern email clients
    like gmail and outlook have the aesthetics of a nevada casino.
  </li>
  <li>Lament the instantaneity of of most modern communication</li>
  <li>
    Enjoy the idea of having a pen pal but dont' want to deal with the faff and
    cost of stamps, letters, etc...
  </li>
</ol>
